<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 50px;
background: #FAFAFA; padding: 10px 10px; border: 1px solid black;">
	<form modelAttribute="user" class="ui form" method="post">
	  <div class="field">
	    <label>Login</label>
	    <input type="text" path="login" name="login" placeholder="Login">
	  </div>
	  <div class="field">
	    <label>Password</label>
	    <input type="password" path="password" name="password" placeholder="Password">
	  </div>
	  <button class="ui button" type="submit">Log in</button>
	</form>
</div>
