<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div style="width: 100%; background: #FAFAFA; height: 60px; box-shadow: 0 4px 2px -2px gray;">
	<h1 style="position: relative; top: 10px; left: 10px;">You are connected</h1>
	<a href="/users/logout" style="float: right; position: relative; top: -37px; right: 15px;">
		<button class="ui red button">
		  Log out
		</button>
	</a>
	
</div>

<div>
	<div class="ui card" style="position: relative; top: 30px; left: 20px;">
	  <div class="image">
	    <img>
	  </div>
	  <div class="content">
	    <a class="header">{{user.identity}}</a>
	    <div class="description">
	      {{user.email}}
	    </div>
	  </div>
	 
	</div>
</div>
