<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div style="width: 100%; background: #FAFAFA; height: 60px; box-shadow: 0 4px 2px -2px gray;">
	<h1 style="position: relative; top: 10px; left: 10px;">You are connected</h1>
	<a href="/users/logout" style="float: right; position: relative; top: -37px; right: 15px;">
		<button class="ui red button">
		  Log out
		</button>
	</a>
	
</div>

<div>
	<div class="ui card" style="position: relative; top: 30px; left: 20px;">
	  <div class="image">
	    <img>
	  </div>
	  <div class="content">
	    <a class="header">{{user.identity}}</a>
	    <div class="description">
	      {{user.email}}
	    </div>
	  </div>
	 
	</div>
	
	<a href="/users/script/create"><div class="ui animated fade primary button" tabindex="0" style="float: right; margin-right: 50px; margin-top: -30px;">
	  <div class="visible content">Creer un nouveau script</div>
	  <div class="hidden content">
	   <i class="plus icon"></i>
	  </div>
	</div></a>
	
	<a href="/users/script/search"><div class="ui animated fade teal button" tabindex="0" style="float: right; margin-right: 50px; margin-top: -30px;">
	  <div class="visible content">Chercher un script</div>
	  <div class="hidden content">
	   <i class="search icon"></i>
	  </div>
	</div></a>
	
	<div class="ui placeholder segment" style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 60px;">
	<h1>Vos scripts</h1>
  	<table class="ui celled table">
	  <thead>
	    <tr><th>Nom du script</th>
	    <th>Description du Script</th>
	    <th>Date de creation</th>
	    <th>Action</th>
	  </tr></thead>
	  <tbody>
	  {{#scripts}}
	  
	  <tr>
	      <td data-label="Nom du scrip">{{title}}</td>
	      <td data-label="Description du Script">{{description}}</td>
	      <td data-label="date">{{creationData}}</td>
	       <td data-label="action">  <a href="/users/script/open/{{id}}">Open</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/users/script/delete/{{id}}">X</a></td>
	    </tr>
	  
	  {{/scripts}}
	    
	  </tbody>
	</table>
 
	</div>
</div>
